.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.header div {
  font-size: 18px;
}

.header input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* -----------------------------> */
/* Styling for the MovieListPage component */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 200px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card-summary {
  font-size: 14px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.star-button,
.wishlist-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.wishlist-button {
  background-color: #28a745;
}

/* .--------------------------> */
.movieHeader {
  display: flex;
  align-items: center;
  background-color: rgb(173, 169, 169);
  color: white;
  padding: 10px;
  justify-content: space-between;
}

.headerItem {
  margin: 0 10px;
}

.selectBox {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.optionItem {
  font-size: 14px;
}
.link {
  color: white;
  text-decoration: none;
}

/* -----------------------> */
/* MovieDetailsPage.css */

.movie-details-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.movie-details-image img {
  max-width: 300px;
  height: auto;
  margin-left: 80px;
}

.movie-details-info {
  margin-left: 20px;
  width: 600px;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-summary {
  font-size: 16px;
  margin-bottom: 20px;
}

.movie-details-meta p {
  margin: 5px 0;
}
.star-button:hover {
  background-color: darkblue;
}

.movie-details-buttons button {
  margin-right: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.wishlist-button {
  background-color: #28a745;
}

/* --------------TO ADD NEW MOVIE_____ */

/* AddNewMovie.css */

.add-new-movie-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.add-new-movie-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-new-movie-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.add-new-movie-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-new-movie-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
